body{
  font-family:sans-serif;
  padding:20px;
}

#searchBox{
  width:100%;
  font-size:16px;
  padding:10px;
  margin-bottom:20px;
}

.map{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.room{
  width:120px;
  height:70px;
  border:none;
  background:#ffd6d6;
  border-radius:8px;
}

#roomInfo{
  margin-top:20px;
  padding:16px;
  background:#f3f3f3;
  border-radius:10px;
}
.map-wrapper{
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: inline-block;
}

/* #mapPin{ */
  /* position:absolute; */
  /* width:9px; */
  /* height:9px;
  background:red;
  border-radius:50%;
  transform:translate(-50%, -50%);
  display:none;
  z-index: 10;
  box-shadow:0 0 0 6px rgba(255,0,0,0.25);
} */

.map-image{
  width: 100%;
  height: auto;
  display: block;
}

.room-button{
  position: absolute;
  background: transparent;
  padding: 4px 6px;
  display: none;
  font-size: 6px;

  border: none;
  
  width: 50px;
  height: 30px;
  border-radius: 6px;

  background: rgb(255, 0, 0);
}
#searchResults{
  background:white;
  border-radius:8px;
  overflow:hidden;
}

.search-result-item{
  padding:12px;
  border-bottom:1px solid #ddd;
}

.search-result-item:active{
  background:#f0f0f0;
}

 #map-area svg{
  width: 100%;
  height: auto;
  display: block;
}